:root{
    --szin: salmon;
    --hatter: rgba(29, 116, 12, 0.365);
    --kartybox: lightgreen ;
    --pontbox: cadetblue;
}


body{
    background-color: var(--hatter);
}
#jatekter{
    width: 100%;
    border-radius: 5px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    height: 39vw;
}
#balpanel{
    width: 30%;
    border-radius: 5px;
    border: 1px solid orange;
    height: 39vw;
}
#kartyabox{
    border-radius: 5px;
    border: 1px solid red;
    height: 19vw;
    background-color: var(--kartybox);
    text-align: center;
}
#pontokbox{
    text-align: center;
    border-radius: 5px;
    border: 1px solid blue;
    height: 20vw;
    background-color: var(--pontbox);
}
#tabla{
    text-align: center;
    border-radius: 5px;
    width: 45vw;
    border: 1px solid green;
    height: 39vw;
    display: flex;
    flex-direction: column;
}
#korokbox{
    text-align: center;
    border-radius: 5px;
    width: 25vw;
    border: 1px solid yellow;
    height: 39vw;
}
.sordiv{
    border-radius: 5px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    height: 7.5vw;
}
.oszlopdiv{
    border-radius: 5px;
    border: 2px solid red;
    width: 16.6%;
    margin: 5px;
    border-radius: 10px;
}

img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

/* 
.K_sordiv{
    border-radius: 5px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    height: 5vw;
}
.K_oszlopdiv{
    border-radius: 5px;
    border: 2px solid red;
    width: 16.6%;
    margin: 5px;
    border-radius: 10px;
} */


.gomb {
    background-color: greenyellow;
    border: 2px solid green;
    color: black;
    padding: 8px 15px;
    font-size: 16px;
    font-family: Verdana, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }
  
.gomb:hover {
    background-color: gray;
    color: black;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  
  .gomb:active {
    background-color: greenyellow;
    border-color: green;
    color: black;
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.3);
  }



.kivalaszt{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 3px solid rgb(0, 233, 66);
    height: 15vw;
    width: 15vw;
    margin: 5px;
}

.TempKartya{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

  